.col-md-5 {
    width: 100%;
}
.col-md-7 p, h3 {
    margin-left: 30px;
    
}
.flashes {
    font-style: italic;
}

/* ----------------------------------------------about page*/
.col-md-8 {
    font-style: italic;
    font-size: 15px;
}
/* ----------------------------------------------history page*/

.card card-body {
    min-height: 120px;
    width: 320px;
}
.btn btn-primary {
    border-radius: 8px;
}
