{% extends "base.html" %}
{% block content %}

<!--{{ company[0] ["name"] }}-->
<!-- [0] to retrieve the first element from the array.-->
<!--["name"] to retieve the first key and it's value from the array.-->

<!--Look at rendering in the json file. read below!-->
<!--FOR THE JSON FILE: This is how to load content from a json file and into a html file. Look at the run.py file for how this file */
/*is rendered  in python, and then look at the about.html file and the expression used at the top for the page to retrieve data.-->


<h2>{{ page_title }}</h2> <!--Passing the varible (page_title) as an exspression with the data (about)from the base.html file-->
<p>The formation of the group grew out of a meeting Gandalf had with Thorin in Bree which kindled Thorin's interest in
    recapturing his long lost family inheritance. (Thorin's grandfather had been the King under the Mountain when Smaug
    came and took it.) Remembering that he had once known an adventurous Hobbit on his travels in the Shire, Gandalf
    decided to add Bilbo to their company because he knew that stealth and cunning were preferable to force. Gandalf
    also believed that someone like Bilbo could keep the sometimes prideful and stubborn Dwarves from rash action. The
    superstitious Dwarves also considered thirteen to be an unlucky number, and as Gandalf had planned to leave on other
    business, welcomed a fourteenth to fill into their party.</p>

    {% for member in company %}



        <div class="row featurette">

            {% if loop.index % 2 != 0 %} 
            <!--If the loop.index is not devisable by 2 evenly, then display the div below to the page-->
            <!--2 represents a modular. Modular 2 gets odd numbers from the array and displays them in about.html.-->

                <div class="col-md-7">
                    <h3><a href="/about/{{ member.url }}">{{ loop.index }}.{{ member.name }}</a></h3> <!--adds a link to each charaters name in about.html page. added key(url) and value of characters name array in compay.json file-->
                    <p>{{ member.description }}</p>
                </div>
                <div class="col-md-4">
                    <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
                </div>
                <!--With the if statement and the modula 2 method, this puts odd numbers from the array (text <p>) to the left and images to the right-->

            {% else %}

            <div class="col-md-5">
                <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
            </div>
            <div class="col-md-7">
                <h3><a href="/about/{{ member.url }}">{{ loop.index }}.{{ member.name }}</a></h3> <!--adds a link to each charaters name in about.html page. added key(url) and value of characters name array in compay.json file-->
                <p>{{ member.description }}</p>
            </div>
            <!--with the else statement and the modula 2 method, this puts even numbers from the array (text <p>) to the right and images to the left-->
                {% endif %}
        </div>

        {% if loop.index != loop.length %}

            <hr class="featurette-divider">

        {% endif %}
        <!--This if statement is to remove the hr class featurettw-divider, but it does not work!-->

    {% endfor %}

{% endblock %}