{% extends "base.html" %}
{% block content %}
<h2>{{ page_title }}</h2>
<!--Passing the varible (page_title) as an exspression with the data (history)from the base.html file-->

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">History</h1>
    <p>On April 26, 2941, Gandalf and the Dwarves arrived at Bag End. After a big tea and supper with Bilbo, they
      explained themselves and their intentions. Bilbo was at first reluctant to join the group but Gandalf rushed him
      out of the door.
    </p>



    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>


{% endblock %}