{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-10 mx-auto">
    <div class="post-preview">
      <h2 class="post-title">
        Who are we!
      </h2>
      <p class="post-subtitle">
        Thorin and Company were a group of thirteen Dwarves, the Wizard Gandalf, and the Hobbit Bilbo Baggins, led by
        Thorin II Oakenshield in TA 2941. Their purpose was to regain the lost Dwarven kingdom of the Lonely Mountain
        from the dragon Smaug. <hr>
        <h5><a href="{{ url_for('about') }}">Join the adventure and click here to learn more about who we are!🛡</a></h5>
      </p>

{% endblock %}